<!-- labels-list.component.html -->
<div class="component-wrapper">
  <div [ngClass]="['labels-wrapper']">
    <div *ngFor="let label of labels; let i = index" class="label" [ngStyle]="{'background-color': label.color}" (click)="onLabelClick(label)">
      {{ label.name }}
    </div>
  </div>
  <div class="buttons-wrapper">
    <button mat-raised-button class="title" (click)="openAddLabelModal()">Add Label</button>
    <button mat-raised-button class="title" (click)="clearDatabase()">Clear Database</button>
  </div>

</div>
