<div class="text-wrapper" (mouseup)="onTextSelection()">
  {{text}}
</div>

<button mat-raised-button class="jsonButton" color="primary" (click)="onExportClicked()">Export Annotions to JSON</button>



<div class="clarifications">
  <p>* When you refresh the page all annotations will be cleared from db</p>

  <p>* if you want to manually clear db (delete labels and annotations) click on the button above</p>

  <p>* Export to json will take the document text and annotations displayed on screen at the time</p>
</div>
